*
{
	margin: 0;
	padding: 0;
}

body{
    background-image:url("two.png");
    height:630px;
    width:1280px;
    background-position: center;
}
nav{	
		
	background-color:red;

}

nav a{
    display: inline-flex;
    color: black;
    padding: 5px 20px;
    text-decoration: none;
	border-radius: 12px;
	font-size: 15px; 
	font-family:"Times New Roman",sans-sarif;
  }
 
  nav a:hover {
    background-color: rgb(255, 166, 0)
  }
 
h3{
    color:white;
    font-size:30px;
    padding-top:200px;
    padding-left:250px;
    
}
b a{
    color:orange;
    text-decoration:none;
	padding:5px 5px;
	font-family:"Times New Roman",sans-sarif;
	font-size: 30px;
}
